*,
.container-navbar {
	padding: 0;
	margin: 0;
}

body,
.cabin-condensed-regular {
	font-family: "Cabin Condensed", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #373a3c;
}

.cabin-condensed-bold,
#title-card-principal,
#text-card-principal,
#title-recetas-relacionadas-section,
.card-title-recetas-relacionadas,
#newsletter :nth-child(1) {
	font-family: "Cabin Condensed", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.lobster-two-regular,
#navbar-brand,
footer {
	font-family: "Lobster Two", sans-serif !important;
	font-weight: 400;
	font-style: normal;
}

.bg-cafe{
	background-color: #373a3c;
}


/* ****** NAVBAR ******* */

.container-navbar {
	padding-left: 150px;
	
}

#navbar-brand {
	font-size: 37px;
	left: 150px;
}

.navbar-nav {
	float: right; /* alinea a la derecha el menu desplegable */
	position: absolute;
	right: 154px; /*ok*/
}

.nav-link {
	font-size: 16px;
}

/* ********** C A R D  PRINCIPAL ********** */
#container {
	padding-inline: 11, 7%;
}

#hr-sup-card-principal {
	max-width: 482px;
}

#container-card-principal {
	margin-top: 24px;
}

#card-principal {
	max-width: 990px;
}

#img-card-principal {
	max-width: 482px;
	min-width: 246px;
	object-fit: cover;
	width: 100%;
	height: auto;
}

#title-recetas-relacionadas-section,
#title-card-principal {
	font-size: 40px;
	line-height: 1;
}

#text-card-principal {
	margin-bottom: 24px;
}

#body-card-principal .btn {
	font-size: 16px;
}

/* **************** CARRUSEL ** *********** */

.carousel-item div div img {
	max-width: 233px;
	max-height: 170px;
}

.carousel-indicators [data-bs-target] {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

/* 
********* RECETA ******* */

#text-ingredientes,
#text-preparacion {
	font-size: 20px;
}

/* ********* RECETAS RELACIONADAS ********** */

.row div {
	padding: 0px;
}

.card-recetas-relacionadas {
	padding: 0;
	padding-block: 10px;
	width: 316px;
}

.card-img-top-recetas-relacionadas,
.card-body-recetas-relacionadas {
	width: 100%;
}
.card-img-top-recetas-relacionadas {
	height: 180px;
}

.card-title-recetas-relacionadas {
	line-height: 1;
	font-size: 23px;
}

.card-text-recetas-relacionadas {
	font-size: 20px;
}

/* ********* NEWSLETTER ********+ */

#newsletter-section {
	height: 534px;
	background-color: #dc3545;
}

#newsletter :nth-child(1) {
	font-size: 40px;
}

#newsletter :nth-child(2) {
	font-size: 30px;
}

#bt-newsletter {
	width: 233px;
	height: 40px;
	font-size: 16px;
}

/* ****** FOOTER ******** */

footer {
	height: 125px;
	font-size: 37px;
}

/* *******  (max-width: 768px) ******* */

@media only screen and (max-width: 576px) {
	.container-navbar {
		padding-inline: 37px;
	}

	.navbar-nav {
		position: static;
	}

	#card-principal,
	#img-card-principal,
	#body-card-principal {
		max-width: 246px;
	}

	#title-card-principal {
		font-size: 25px;
	}
}

@media only screen and (max-width: 768px) {
	#text-ingredientes {
		padding-left: 25%;
	}

	#text-preparacion {
		padding-left: 15%;
	}
}

@media only screen and (min-width: 1200px) {
	#text-ingredientes {
		padding-left: 40%;
	}

	#body-card-principal {
		padding-left: 10px;
	}
}

@media only screen and (max-width: 1200px) {
	*,
	.row div {
		padding: 0px;
	}

	#body-card-principal {
		padding: 0px;
		max-width: 482px;
	}

	#title-card-principal {
		max-width: 482px;
		width: 100%;
		height: auto;
		margin-left: 0px;
	}

	@media screen and (max-width: 482px) {
		#img-card-principal {
			width: 100%;
		}
	}
}
